*{
    margin: 0;
    padding: 0;
   
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(58,82,203,1) 0%, rgba(41,40,119,1) 100%);
color: whitesmoke;

}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.movie-title {
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.movie-photo{
    width: 250px;
    height: 300px;
    padding: 10px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding: 10px;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


@media only screen and (max-width: 600px) {

    iframe {
        width: 320px;
    }



}